<h5>AFT Settings</h5>
<form class="padding15">
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="aft-address" value="<%-obj.address%>">
		<label class="mdl-textfield__label" for="aft-address">Address</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="aft-port" value="<%-obj.port%>">
		<label class="mdl-textfield__label" for="aft-port">Port</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="aft-file-path" value="<%-obj.filePath%>">
		<label class="mdl-textfield__label" for="aft-file-path">File Path</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="aft-user-id" value="<%-obj.userId%>">
		<label class="mdl-textfield__label" for="aft-user-id">User ID</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="password" id="aft-password" value="<%-obj.password%>">
		<label class="mdl-textfield__label" for="aft-password">Password</label>
	</div>
	<button class="coms-save-button">Save</button>
</form>
