<h5>FTP Settings</h5>
<form class="padding15">
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="ftp-address" value="<%-obj.address%>">
		<label class="mdl-textfield__label" for="ftp-address">Address</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="ftp-port" value="<%-obj.port%>">
		<label class="mdl-textfield__label" for="ftp-port">Port</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="ftp-user" value="<%-obj.user%>">
		<label class="mdl-textfield__label" for="ftp-user">User</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="password" id="ftp-password" value="<%-obj.password%>">
		<label class="mdl-textfield__label" for="ftp-password">Password</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="ftp-folder-path" value="<%-obj.ftppath%>">
		<label class="mdl-textfield__label" for="ftp-folder-path">Folder Path</label>
	</div>
	<button class="coms-save-button">Save</button>
</form>
