.configuration-collection-view table {
    margin-bottom: 0;
    background-color: white;
}

.configuration-collection-view .buttonColumn {
    width: 73px;
}

.configuration-collection-view .typeColumn {
      max-width: 68px;
}

.mdl-data-table .pretransform {
    transform: translateX(-110%);
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.mdl-data-table .pretransform.transform {
    transform: initial;
}
