<tr class="new-configuration-view">
	<td class="mdl-data-table__cell--non-numeric">
		<input class="key form-control input-sm" />
	</td>
	<td class="mdl-data-table__cell--non-numeric">
		<input class="name form-control input-sm" />
	</td>
	<td class="mdl-data-table__cell--non-numeric">
		<textarea class="value form-control input-sm"></textarea>
	</td>
	<td class="mdl-data-table__cell--non-numeric">
		<textarea class="description form-control"></textarea>
	</td>
	<td class="typeColumn">
		<select class="type form-control input-sm">
			<option value="TEXT" selected>TEXT</option>
			<option value="XML">XML</option>
			<option value="ENC_PASSWORD">ENC_PASSWORD</option>
		</select>
	</td>
	<td class="buttonColumn">
		<button class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored add-btn">
			<i class="material-icons">add</i>
		</button>
	</td>
</tr>