<h5>Content Management</h5>
<form class="padding15">
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="device" value="<%-obj.device%>">
		<label class="mdl-textfield__label" for="device">Device</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="image-url" value="<%-obj.imageUrl%>">
		<label class="mdl-textfield__label" for="image-url">Image URL</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="xf-rendering-server" value="<%-obj.xfRenderingServer%>">
		<label class="mdl-textfield__label" for="xf-rendering-server">XF Rendering Server</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="max-file-upload-size" value="<%-obj.maxFileUploadSize%>">
		<label class="mdl-textfield__label" for="max-file-upload-size">Max File Upload Size</label>
	</div>
	<button class="mdl-button coms-cancel-button">Cancel</button>
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored coms-save-button">Save</button>
</form>
