<% if (obj.editMode) { %>
	<td class="mdl-data-table__cell--non-numeric">
		<input class="key form-control input-sm" value="<%-key%>" />
	</td>
	<td class="mdl-data-table__cell--non-numeric">
		<input class="name form-control input-sm" value="<%-name%>" />
	</td>
	<td class="mdl-data-table__cell--non-numeric">
		<% if (type === 'ENC_PASSWORD') { %>
			<input type="password" class="value form-control input-sm" value="<%-value%>" />
		<% } else { %>
			<textarea class="value form-control input-sm"><%-value%></textarea>
		<% } %>
	</td>
	<td class="mdl-data-table__cell--non-numeric">
		<textarea class="description form-control"><%-description%></textarea>
	</td>
	<td class="typeColumn">
		<select class="type form-control input-sm">
			<option value="TEXT" <%-type==='TEXT' ? 'selected' : ''%>>TEXT</option>
			<option value="XML" <%-type==='XML' ? 'selected' : ''%>>XML</option>
			<option value="ENC_PASSWORD" <%-type==='ENC_PASSWORD' ? 'selected' : ''%>>ENC_PASSWORD</option>
		</select>
	</td>
	<td class="edit-button-column">
		<button class="mdl-button mdl-js-button mdl-button--icon cancel-btn">
			<i class="material-icons">cancel</i>
		</button>
		<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored save-btn">
			<i class="material-icons">save</i>
		</button>
	</td>
<% } else { %>
	<td class="mdl-data-table__cell--non-numeric">
		<%-key%>
	</td>
	<td class="mdl-data-table__cell--non-numeric">
		<%-name%>
	</td>
	<% if (type === 'ENC_PASSWORD') { %>
		<td class="mdl-data-table__cell--non-numeric passwordContent"></td>
	<% } else { %>
		<td class="mdl-data-table__cell--non-numeric">
			<%-value%>
		</td>
	<% } %>
	<td class="mdl-data-table__cell--non-numeric">
		<%-description%>
	</td>
	<td class="typeColumn mdl-data-table__cell--non-numeric">
		<%-type%>
	</td>
	<td class="buttonColumn">
		<button id="demo-menu-lower-right<%-id%>" class="mdl-button mdl-js-button mdl-button--icon">
			<i class="material-icons">more_vert</i>
		</button>
		<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right<%-id%>">
			<li class="mdl-menu__item edit-btn">Edit</li>
			<li class="mdl-menu__item delete-btn">Delete</li>
		</ul>
	</td>
<% } %>