<h6>Security Settings</h6>
<form class="padding15">
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="authentication-key" value="<%-obj.authKey%>">
		<label class="mdl-textfield__label" for="authentication-key">Authentication Key</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="authentication-duration" value="<%-obj.smtpHost%>">
		<label class="mdl-textfield__label" for="authentication-duration">Authentication Duration</label>
	</div>
	<button class="coms-save-button">Save</button>
</form>
