<h5>Security Settings</h5>
<form class="padding15">
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="authentication-key" value="<%-obj.authKey%>">
		<label class="mdl-textfield__label" for="authentication-key">Authentication Key</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="authentication-duration" value="<%-obj.authServletTolerance%>">
		<label class="mdl-textfield__label" for="authentication-duration">Authentication Duration</label>
	</div>
	<button class="mdl-button coms-cancel-button">Cancel</button>
	<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored coms-save-button">Save</button>
</form>
