<h6>Delivery Channels</h6>
<form class="padding15">
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="smtp-host-name" value="<%-obj.smtpHost%>">
		<label class="mdl-textfield__label" for="smtp-host-name">SMTP Host Name</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="smtp-port" value="<%-obj.smtpPort%>">
		<label class="mdl-textfield__label" for="smtp-port">SMTP Port</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="text" id="smtp-user" value="<%-obj.smtpUser%>">
		<label class="mdl-textfield__label" for="smtp-user">SMTP User</label>
	</div>
	<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
		<input class="mdl-textfield__input" type="password" id="smtp-password" value="<%-obj.smtpPassword%>">
		<label class="mdl-textfield__label" for="smtp-password">SMTP Password</label>
	</div>
	<button class="coms-save-button">Save</button>
</form>
