td {
    max-width: 50px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buttonColumn {
    width: 73px;
}

.typeColumn {
    max-width: 25px;
}

a {
    display: block;
    text-decoration: none;
    outline: none;
    color: rgb(65, 65, 65);
}

button {
    margin: 1px;
}

input, textarea, select {
    min-width: 100%;
    max-width: 100%;
    height: 28px;
}

select {
    padding-left: 1px;
    padding-right: 1px;
}

.passwordContent:before {
    content: '••••••••••••••••••••••••'
}