.configuration-collection-view table {
    margin-bottom: 0;
    background-color: white;
}

.configuration-collection-view .buttonColumn {
    width: 73px;
}

.configuration-collection-view .typeColumn {
      max-width: 68px; 
}