
.mdl-layout__header-row {
	padding-left: 15px;
}

.mdl-layout-title {
	margin: 0 15px 0 15px;
}

.nav-toggle {
	background-color: transparent;
	border: none;
	border-radius: 50%;
	color: white;
	cursor: pointer;
}
