.add-button {
	position: absolute;
	right: 0;
	bottom: 0;
	margin: 10px;
	z-index: 5;
}

.spinner {
	position: absolute;
	z-index: 5;
	height: 2em;
	width: 2em;
	margin: auto;
	top: 200px;
	left: 0;
	/* bottom: 0; */
	right: 0;
}

.mdl-dialog.new-config-dialog {
	width: 500px;
}
