.communications-view .card h1,
.communications-view .card h2,
.communications-view .card h3,
.communications-view .card h4,
.communications-view .card h5,
.communications-view .card h6 {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	text-align: center;
	padding: 10px;
	margin: 2px 0 2px 0;
}

.coms-save-button {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.communications-view .card {
	display: block;
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
	margin-bottom: 30px;
	border-top: 1px solid rgba(0, 0, 0, .1);
	will-change: transform;
}

.communications-view .mdl-textfield {
	display: block;
	margin: 0 auto;
	width: 100%;
}

.communications-view {
	position: relative;
}
